body {
    background-image: url('317877242-huge.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h1 {
    color: rgb(248, 6, 6);
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
  }

p {
    color: rgb(252, 1, 1);
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
  }