body {
    background-image: url('317877242-huge.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

.website-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


  logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h1 {
    color: rgb(248, 6, 6);
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
  }

p {
    color: rgb(252, 1, 1);
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
  }

/* Styles for website counter container */
.website-counter {
    background-color: #ff4957;
    height: 50px;
    width: 80px;
    color: white;
    border-radius: 30px;
    font-weight: 700;
    font-size: 25px;
  }